@keyframes changeShadow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeAway {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes changeFull {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fastChange {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #111010;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
}

#newgame {
    margin: 0 auto;
}

#preload {
    margin: 0;
    height: 0px;
    width: 0px;
    opacity: 0;
    position: fixed;
}

#preload-notice {
    color: grey;
    text-align: center;
    vertical-align: middle;
    white-space: pre-line;
    z-index: 10000;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    cursor: pointer;
}
